.logo {
	width: 200px;
	height: 100%;
}

.fc {
	font-size: 14px;
	text-shadow: #f0f0f0f0 2px;
}

.ff {
	font-size: 20px;
	color: #FFFFFF;
}

.fif {
	margin-top: -25px;
}

.fp {
	margin-top: -8px;
}

.fpt {
	margin-top: -12px;
}

.bt {
	font-size: 18px;
	background : linear-gradient(-580deg, #FFFFFF 80%, #003366 20%);
	border-color: #003366;
}

.k {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    padding: 3px;
    border : 1px solid grey;
}

.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.round.blue {
    background-color: #003366;
}

.r {
	margin-left: 20px;
	margin-right: 35px;
}

.t {
	padding-right: 120px;
}


footer {
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
	background-color: #003366;
}
