/** Global Styling **/
* {
    box-sizing: border-box;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

.clearfix {
    clear: both;
}

.no-focus {
    outline: none;
}

.focusable:focus {
    outline: #5b9dd9 solid 2px;
}

.body {
    font-family: Arial;
    -webkit-text-size-adjust: 100%;
}

.header {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 2460px;
}

.header__logo {
    max-width: 100%;
}

.header__text {
    padding-top: 15px;
    padding-bottom: 20px;
}

.header__lowbandwidth {
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.social__icon {
    display: inline-block;
}

.social--top {
    position: absolute;
    top: 0;
    right: 0;
}

.social--top-left {
    right: auto;
    left: 0;
    padding: 20px 8px 0 0;
}

.fullscreen .social--top-left {
    left: 8%;
}

.social--top-right {
    right: 0;
    left: auto;
    padding: 20px 0 0 8px;
}

.fullscreen .social--top-right {
    right: 3%;
}

.social--collapsed {
    top: -8px;
}

.social--top-left.social--collapsed,
.social--top-right.social--collapsed {
    padding: 0;
}

.social--collapsed .social__icon {
    display: none;
}

.social--top .social__icon--collapse {
    display: inline-block;
}

.social--top-right .social__icon--collapse {
    margin-left: 5px;
}

.social--top-left .social__icon--collapse {
    margin-right: 5px;
}

.social--top .social__icon--expand {
    display: none;
    margin-right: 0;
    margin-left: 0;
}

.social--bottom {
    padding: 30px 0 25px 0;
}

.social--bottom {
    display: none;
}

.main {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 530px;
}

.main::after {
    content: "";
    display: block;
    clear: both;
}

.fullscreen .main,
.fullscreen {
    width: calc(100vh * 16/9);
    height: 100%;
}

.fullscreen.less-16-9 .main {
    margin-top: calc((100vh - (100vw * 9/16)) / 2);
    height: calc(100vw * 9/16);
    width: 100%;
}

.cta--side {
    float: left;
    width: 50px;
    height: 270px;
    padding-right: 1px;
}

.fullscreen .cta--side {
    width: 5%;
    height: 95%;
    position: relative;
    float: left;
    padding-top: 2px;
}

.cta--bottom {
    display: none;
}

.cta__button {
    padding: 0;
}

.cta--side .cta__button {
    width: 100%;
}

.fullscreen .cta--side .cta__button {
    position: relative;
    z-index: 1;
    border: 0;
}

.cta--side.cta--1 .cta__button,
.promo--side.promo--1 .promo__item {
    height: 100%;
}

.cta--side.cta--2 .cta__button,
.promo--side.promo--2 .promo__item {
    margin-bottom: 1px;
    height: calc(50% - 1px);
}

.cta--side.cta--2 .cta__button.cta__button--button-2,
.promo--side.promo--2 .promo__item.promo__item--2 {
    margin-bottom: 0;
    height: 50%;
}

.cta--side.cta--3 .cta__button,
.promo--side.promo--3 .promo__item {
    margin-bottom: 1px;
    height: calc(33.333% - 1px);
}

.cta--side.cta--3 .cta__button.cta__button--button-3,
.promo--side.promo--3 .promo__item.promo__item--3 {
    margin-bottom: 0;
    height: 33.333%;
}

.cta--side.cta--4 .cta__button,
.promo--side.promo--4 .promo__item {
    margin-bottom: 1px;
    height: calc(25% - 1px);
}

.cta--side.cta--4 .cta__button.cta__button--button-4,
.promo--side.promo--4 .promo__item.promo__item--4 {
    margin-bottom: 0;
    height: 25%;
}

.cta--side.cta--5 .cta__button,
.promo--side.promo--5 .promo__item {
    margin-bottom: 1px;
    height: calc(20% - 1px);
}

.cta--side.cta--5 .cta__button.cta__button--button-5,
.promo--side.promo--5 .promo__item.promo__item--5 {
    margin-bottom: 0;
    height: 20%;
}

.cta--bottom .cta__button {
    height: 70px;
}

.player {
    float: left;
}

.fullscreen .player {
    width: 95%;
    height: 95%;
    margin: 0;
}

.player__wrapper {
    width: 480px;
    height: 270px;
}

.fullscreen .player__wrapper {
    width: 100%;
    height: 100%;
}

.player__iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.promo--side {
    float: left;
    width: 270px;
    height: 1080px;
    padding-left: 1px;
}

.fullscreen .promo--side {
    display: none;
}

.promo--bottom {
    display: none;
}

.promo--bottom .promo__item {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 95%;
    height: calc(0.95 * 30vw);
}

.promo--bottom .promo__item--bottom {
    margin-bottom: 25px;
}

.promo__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.timeline {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
}

.timeline__cover {
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    cursor: not-allowed;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
    filter: alpha(opacity=30); /* IE5-7 */
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

.timeline,
.timeline__controls {
    height: 30px;
}

.fullscreen .timeline {
    height: 5%;
    width: 100%;
    z-index: 2;
}

.fullscreen .timeline__controls {
    height: 100%;
}

.timeline__controls {
    position: relative;
    float: left;
}

.timeline__controls--left {
    width: 90px;
    padding: 0 15px;
    border-right: 1px solid;
}

.fullscreen .timeline__controls--left {
    width: 15%;
    border-right: 5px solid;
}

.timeline__controls--center {
    position: relative;
    width: 310px;
}

.fullscreen .timeline__controls--center {
    width:69.8%;
    position: relative;
}

.timeline--no-volume .timeline__controls--center {
    width: 1850px;
}

.fullscreen .timeline--no-volume .timeline__controls--center {
    width: 81%;
}

.timeline__controls--active-state {
    display: none;
}

.timeline__controls--right {
    width: 130px;
    padding: 0 px;
    border-left: 1px solid;
}

.fullscreen .timeline__controls--right {
    width: 15%;
    border-left: 5px solid;
}

.timeline--no-volume .timeline__controls--right {
    width: 175px;
    text-align: center;
}

.top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
.top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
    width: 200px;
}

.fullscreen .timeline--no-volume .timeline__controls--right {
    width: 9%;
}

.timeline__button {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

.fullscreen .timeline__button {
    margin: 0;
    height: 100%;
}

.timeline--no-volume .timeline__controls--right .timeline__button {
    float: none;
}

.timeline-buffering {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
}

.fullscreen .timeline-buffering {
    height: 6px;
}

.timeline__buffer-section {
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
}

.timeline__buffer-section-inner {
    width: 0;
    height: 100%;
}

.timeline-progress-hover,
.timeline-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.timeline-progress-hover {
    z-index: 10;
}

.timeline-progress {
    z-index: 20;
}

.timeline-progress-indicator,
.timeline-progress-indicator-ball {
    z-index: 40;
    display: none;
}

.timeline-chapters {
    position: relative;
    z-index: 30;
    height: 100%;
    line-height: 28px;
    text-align: center;
}

.fullscreen .timeline-chapters {
    line-height: 5vh;
}

.fullscreen.less-16-9 .timeline-chapters {
    line-height: calc(5vw * 9/16);
}

.timeline-contrast {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
}

.timeline-chapters__chapter,
.timeline-active-state__label {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.timeline-chapters__chapter {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    height: 100%;
    cursor: pointer;
}

.timeline-active-state__label {
    margin-top: 10px;
    height: calc(100% - 10px);
    line-height: 40px;
    text-align: center;
}

.timeline-volume {
    z-index: 1;
    float: left;
    width: 38px;
    height: 100%;
    margin-right: 15px;
}

.timeline--no-volume .timeline-volume,
.timeline--no-volume .timeline__button--volume {
    display: none;
}

.fullscreen .timeline-volume {
    width: calc(100% - 95px);
}

.timeline__controls--right-no-fs .timeline-volume {
    width: 275px;
}

.timeline-volume div {
    cursor: pointer;
}

.timeline-volume__bg {
    margin-top: 12px;
    width: 130%;
    height: 8px;
}

.fullscreen .timeline-volume__bg {
    margin-top: calc(2.5vh - 5px);
    width: 100%;
}

.fullscreen.less-16-9 .timeline-volume__bg {
    margin-top: calc((2.5vw * 9/16) - 5px);
}

.timeline-volume__container {
    position: relative;
    width: 50px;
}

.fullscreen .timeline-volume__container {
    width: calc(100% - 5px);
}

.timeline__controls--right-no-fs .timeline-volume__container {
    width: 50spx;
}

.timeline-volume__level {
    position: absolute;
    z-index: 10;
    top: -8px;
    left: 0;
    padding-left: 10px;
    width: 25%;
    height: 8px;
}

.timeline-volume__ball {
    position: absolute;
    top: -3px;
    right: -5px;
    width: 12px;
    height: 12px;
}

.timeline__settings {
    display: inline-block;
    text-align: left;
}

.timeline__settings-popout,
.timeline__settings-language,
.timeline__settings-cc,
.timeline__settings-quality {
    display: none;
}

.chapter-button {
    display: inline-block;
}

.footer {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 2460px;
}

.footer__pblogo {
    margin-right: 10px;
    width: 140px;
    height: 35px;
    vertical-align: middle;
}

.footer__poweredby-break {
    display: none;
}

.footer__copyright {
    float: left;
    width: 33%;
}

.footer__links {
    float: right;
    width: 33%;
}

.footer__copyright,
.footer__links {
    position: relative;
    top: -28px;
}

.top-wrapper--no-cta .header,
.top-wrapper--no-cta .main,
.top-wrapper--no-promo .main,
.bottom-wrapper--no-cta .footer,
.bottom-wrapper--no-promo .footer {
    width: 2190px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .header,
.top-wrapper--no-cta.top-wrapper--no-promo .main,
.bottom-wrapper--no-cta.bottom-wrapper--no-promo .footer {
    width: 1920px;
}

.fullscreen .top-wrapper--no-cta .player {
    width: 100%;
}

.top-wrapper--no-promo .timeline__controls--center,
.top-wrapper--no-cta .timeline__controls--center {
    width: 1580px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
    width: 1310px;
}

.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
.top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
    width: 1685px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center {
    width: 1415px;
}

.top-wrapper--no-cta .cta--side {
    display: none;
}

.top-wrapper--no-promo .promo {
    display: none;
}

.bottom-wrapper--no-cta .cta--bottom {
    display: none;
}

.fullscreen .top-wrapper--no-promo .timeline__controls--center {
    width: 75%;
}